{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Deploy</title>
    <link rel="stylesheet" href="{% static 'demo.css' %}" type="text/css">
    
</head>
<body>
    <div class="box">
        <h1 class="textbox">Enter Employee Detail</h1>
    </div>
    <h1 class="textbox"><a href="{% url "admin:index" %}" style="text-decoration: none;">Admin</a></h1>
    
    <div class='box'>
        <form class="form-inline" method="POST" action="{% url "addemp" %}">
            {% csrf_token %}
            <label for="name">Name</label>
            <input type="text" id="name" placeholder="Enter Name" name="name" required>
            <label for="age">Age</label>
            <input type="text" id="age" placeholder="Enter age" name="age" required>
            <button type="submit">Submit</button>
        </form>
    </div>

    {% for emp in  employee %}
    <div class="box">
        <h1 class="textbox">{{emp.name}} {{emp.age}}<a href="{% url "deleteemp" emp.id %}">&nbsp Delete</a></h1>
    </div>
    {% endfor %}

    <script src="{% static 'demo.js' %}"></script>
</body>
</html>